body{background-color: rgb(255, 255, 255);}
.fast-div{
           width: 25%;
           float: left;
           margin-left: 15%;
           margin-top: 5%;
           
         }
         #name{color: green;}

         button{padding: 10px 30px 10px 30px;
                background-color: rgb(255, 166, 0);
               border-radius: 10px;
                 }

      
      section{display: table; clear: both;}  
    
    #center{text-align: center;}   
    
    
    .last-div{width: 25%;
             float: left;
              box-shadow: brown 10px;
              background-color: blanchedalmond;
              text-align: center;
              margin-left: 5%;
              border-radius: 20px;
              padding: 15px;
     }
        
                 
        .project-img{height: 60%;
                    width: 60%;}
            #button{ padding: 30px 100px 30px 100px;
           
                    border-radius: 30px;
                    margin: auto;
                    height: 50%;
                    width: 50%;
                    background-color: aqua;
                    text-align: center;
                    
                  }

