body{background-color: rgb(255, 255, 255);}
.fast-div{
           width: 25%;
           float: left;
           margin-left: 15%;
           margin-top: 5%;
         }
         #name{color: green;}

         button{padding: 10px 30px 10px 30px;
                background-color: rgb(255, 166, 0);
               border-radius: 10px;
                 }

                 
        






